* {
  font-family: Arial, Helvetica, sans-serif;
  }

h1 {
  font-family: 'Lora', serif;
  color: skyblue;
}

body {
  background-image: url("https://raw.githubusercontent.com/codefellows/seattle-201d32/master/class-06-dom-objects-domain_modeling/lab/assets/salmon.png");
}

.total {
  font-weight: bold;
}