
body {
  font-family: 'Roboto Condensed', sans-serif;
  font: 'Roboto Condensed';
  background-color: darkslategrey;
  color: whitesmoke;
  font-size: 150%;
  align-content: center;
}

body h1 {
  text-align: center;
}

form {
  margin: auto;
  padding: 10px;
}

table, th, td {
  margin: auto;
  padding: 10px;
  table-layout: auto;
  width: 100px;
  border: 1px solid whitesmoke;
}

body img {
  display: inline-block;
  margin: auto;
  text-align: center;
}

main img {
  float: right;
}

ul {
  margin-left: 30px;
  margin-right: 30px;
  width: 8em
}

footer p {
  text-align: center;
}

footer h1 {
  text-align: center;
}

footer h2 {
  text-align: center;
}